body {
    background-color:rgb(21, 95, 21);
    color:white;
    font-family: "PT Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:lawngreen ;
    color:rgb(0, 0, 0);
    font-family: "PT Serif", serif; 
}

.passo {
    display: none ;
}

.passo.ativo {
    display:block ;
}

main {
    text-align:justify;
    max-width: 110%;
}

img {
    max-width: 99%;
}